<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Hub</title>
    <link rel="stylesheet" href="styles/auth.css">
</head>
<body>
    <div id="wrapper">
        <div id="inputBox">
            <form action="/signup" method="post">
                <h2>Username: <input type="text" name="username" placeholder="Username" autofocus></h2>
                <h2>Name: <input type="text" name="name" placeholder="Name"></h2>
                <h2>Password: <input type="password" name="password" placeholder="Password"></h2>
                <h2>Repeat password: <input type="password" name="repeat" placeholder="Repeat password"></h2>
                <button type="submit">Register</button>
                
            </form>
        </div>
    </div>

    <script src="scripts/auth.js"></script>
</body>
</html>