
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


*{
    font-family: "Nunito", "sans-serif";
}

body{
    background-color: #F5F5F5;
}

#wrapper{
    margin: auto;
    margin-top: 150px;
    width: 50%;
    text-align: center;
}

#inputBox{
    border: solid 3px black;
    border-radius: 8px;
}

button{
    width: 150px;
    height: 30px;
    margin-bottom: 10px;

}