@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


*{
    font-family: "Nunito", "sans-serif";
}

body{
    background-color: #F5F5F5;
}

.topBar {
    background-color:#3F2305;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:40px;
    z-index: 9999;
    display: flex;
    align-items: center;
}

.searchBar {
    background-color: black;
    display: flex;
    position: absolute;
    left: 35%;
    border: none;
    border-radius: 4px;
    height: 40px;
    padding: 0;
    font-size: 14px;
    margin-left: auto;
}

.searchBox{
    position: relative;
    background-color: white;
    width: 300px;
    height: 25px;
}
#search-icon{
    position: relative;
    margin: 3px 0 3px 0;
    width: 30px;
    height: 30px;
    
}

.sideBar {
    background-color: #DFD7BF;
    margin-top: 60px;
    width: 150px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    
}

.content {
    margin-left: 220px;
    margin-top: 60px;
    padding: 20px;
}

.quizName input{
    margin-left: 10px;
    width: 400px;
    height: 60px;
    font-size: large;
}

#display-box{
    /* display: grid; */
    position: relative;
    top: 20px;
    width: auto;
    height: 300px;
}

button{
    position: relative;
    margin: 40px;
    width: 150px;
    height: 60px;
    font-size: medium;
    border: solid 3px black;
    border-radius: 5px;
    cursor: pointer;
    /* background-color: #fff; */
}

button:hover{
    background-color: #b6aeb9;
}

.card{
    grid-row-start: auto;
    height: 410px;
    width: 700px;
    border: solid 2px black;
    border-radius: 5px;
    overflow-x: hidden;
    padding: 5px;
    /* border-color: black;
    border-style: solid;
    border-width: 2px; */
    margin:20px;
}

.card .option{
    width: 400px;
    height: 40px;
}

.sideList{
    position: relative;
    top: 50%;
    right: 20px;
}

.sideList li{
    display: block;
    position: relative;
    max-width: 100px;
    margin: 0 0 15px 0;
    padding: 0 2px 0 2px;
    list-style-type:none;
    text-align: center;
    border: solid 1px black;
    border-radius: 5px;

}

.sideList li:hover{
    background-color: #88808b;
}

a{
    color: black;
    text-decoration: none;
}
